<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<h3>User Add</h3>
<br>
<form th:method="POST" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <br>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br>
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <br>
    <input type="submit" value="Сохранить"/>

</form>
</body>
</html>